/**{*/
    /*margin:0;*/
    /*padding:0;*/
    /*font-family: Arial,"Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",\5b8b\4f53,Helvetica,sans-serif;*/
    /*font-size:14px;*/
    /*line-height:1.5;*/
    /*color:#555;*/
/*}*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{
    margin:0;
    padding:0
}
body,button,input,select,textarea{
    font-family:Arial,"Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",\5b8b\4f53,Helvetica,sans-serif;
    font-size:14px;
    line-height:1.5;
    color:#555;
    background-color:#fff
}
h1,h2,h3,h4,h5,h6{
     font-size:100%
}
address,cite,dfn,em,var{
    font-style:normal
}
code,kbd,pre,samp {
    font-family:courier new,courier,monospace
}
small{
    font-size:12px
}
ol,ul{
    list-style:none
}
a {
    text-decoration: none
}
sup{
    vertical-align:text-top
}
sub{
    vertical-align:text-bottom
}
legend{
    color:#000
}
fieldset,img{
    border:0;
    vertical-align:top
}
button,input,select,textarea{
    font-size:100%
}
table{
    border-collapse:collapse;
    border-spacing:0
}



.header{
    height:70px;
    background-color:#020b18;
}
.container-fluid{
    padding:0
}
.container{
    padding:0;
}
.w-1000{
    width: 1000px;
    border: none;
}
.header .logo{
    display:inline-block;
    margin-right:25px;
    width:190px;
    height:70px;
    float: left;
    background:url(../images/logo.png)left center no-repeat;
}
.header .nav{
    display: inline-block;
    float:left;
}
.header .nav a{
    display:inline-block;
    float:left;
    padding: 0 5px;
    margin: 0 20px;
    font-size: 18px;
    line-height: 70px;
    color: white;
}
.header .nav a.active{
    height:70px;
    color:#15a27b;
    border-bottom:6px solid #15a27b;
}
.header .nav a:hover{
    text-decoration: none;
    height:70px;
    color:#15a27b;
    border-bottom:6px solid #15a27b;
}
.header .user{
    display:inline-block;
    float:right;
    margin-top: 22px;
}
.header .user .btn{
    border-radius: 0;
    height:26px;
    line-height: 26px;
    padding: 0 12px;
    border: none;
    margin-left: 5px;
}
.header .user .btn-success{
    background-color: #429e17;
}
.header .user .btn-success:hover{
    background-color: #207109;
}
.header .user .btn-primary{
    background-color:#0f3164;
}
.header .user .btn-primary:hover{
    background-color:#000e24;
}

.banner .pic{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.banner .pic ul{
    position:relative;
    overflow: hidden;
    padding: 0;
    margin:0;
    height: 370px;
}
.banner .pic li{
    float:left;
    width: 1394px;
}
.banner .pic .prev{
    display:block;
    position:absolute;
    top: 160px;
    left: 0;
    width: 58px;
    height: 60px;
    background: url(../images/icon-btn-02.png)0 0 no-repeat;
}
.banner .pic .prev:hover{
    background-position: 0 -69px;
}
.banner .pic .next{
    display:block;
    position: absolute;
    top: 160px;
    right: 0;
    width: 58px;
    height: 60px;
    background: url(../images/icon-btn-02.png)-65px 0 no-repeat;;
}
.banner .pic .next:hover{
    background-position: -65px -69px;
}
.carousel-control {
    line-height: 300px;
    font-size: 65px;
}
.banner .notice{
    background-color: #232c3a;
    color:#bdbdbd;
}
.banner .notice .w-1000{
    overflow: hidden;
    padding-left:80px;
    width: 920px;
    height: 52px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjE1RDYxQ0NBMDQ1QjExRTVBMDIzODY5NkU3NTYwODJEIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjE1RDYxQ0NCMDQ1QjExRTVBMDIzODY5NkU3NTYwODJEIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MTVENjFDQzgwNDVCMTFFNUEwMjM4Njk2RTc1NjA4MkQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MTVENjFDQzkwNDVCMTFFNUEwMjM4Njk2RTc1NjA4MkQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz60ebFNAAACGElEQVR42rSVQUhUURSGZyYVtdRUgsBNiQt1kwtFSqmQ3BVhGNiihFlI1CohRKTBKAJx4dI2M1BBCi5cGK4CDVQEhTIRWoStohA0GyulSP2O/A+ug2M287zwcXnnXc5/7rnnnhuMRqOBdEY4HN6ZY7FYPtNL6MQ27/0PBfwbeXAGhhA76psAzkLayWemG1AGPX4JFMAkIo0SmWDqh9vYyg8qcAzOQ3CPf3/A0vEch8dl64Z16DiIQCW8hTfQ5ti9HP+Cm3ACurSLZaZn0GIHv5/AVZhWTm2c0mzVMqF8m8M5pgGlJU9rXkA2XNlLwFIRgWFVRuL4qRT0QpZsT5XKy/qegRW4YAJD8Be2xCY8TJLzgNY+gBKLULYpOWzQrszHrJWtCTSnUE3j8A0uyaEF9g4qnDWLUJpqmdouPpoDx/ZVh+0NCyDfz5vsle2ukarAEVXXomM7CV+c70KIh1Qtm/8pcFEOXqtdBNWHPjlrTlsAJnBNEQUd7qgUk0X/CKz3jMh2FophzOlPNTCfLEX9WvA+4WC9W5wD9+G3bPfgB7zSdzUUmWDGPmlYgFp4Ak0wKnsc6nXhLNoqZaGPcl3TmluwYTv81yHbonblcyrhNtvIVd9ZgscStFS1wiCC8XTLNFNn1YqzVdkiSuHOm5CRpsB3OKfWYNHXMd213oTtgy8vmuPcetOgbnjHYbzJa6q664h6ZxTYFmAAhH+THglZD84AAAAASUVORK5CYII=) 30px center no-repeat;
}
.banner .notice ul li{
    display:inline-block;
    width: 100%;
    line-height: 52px;
    font-size: 14px;
}
.banner .notice a{
    color:#bdbdbd;
}
.banner .notice ul span{
    margin-left:30px;
}


.content .bg-white{
    background-color: #fff;
}
.content .clump{
    padding:35px 0;
}
.content .clump .title{
    padding-left:26px;
    color:#000;
    font-size:24px;
    font-weight: 400;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkI5QzZFODcyMDQ0NTExRTU4MTU1QjEwRTkzMkRFMTQ4IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkI5QzZFODczMDQ0NTExRTU4MTU1QjEwRTkzMkRFMTQ4Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QjlDNkU4NzAwNDQ1MTFFNTgxNTVCMTBFOTMyREUxNDgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QjlDNkU4NzEwNDQ1MTFFNTgxNTVCMTBFOTMyREUxNDgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7zv15tAAAAkUlEQVR42mLkF1C4zsDAoMGACd4BsSYQ/wfiG0AshEXNDRYcmhmgGsSR2NiABhMDhWCYGPAOh9xfIP4AxX9xqHkHigUtIJbBIvkWiB9D2cpALIJFzRMmaDxjA/+I8MF/kAuu44hnkLOVoBbcBWJmXF7AlUhAGviR2FgT22hCghhwA4fceyB+CcQv8CS2GwABBgCGTxwYURBWWQAAAABJRU5ErkJggg==) left center no-repeat;

}
.cooperation li {
    width: 33.33%;
    float: left;
    text-align: center;
}
.cooperation h4 {
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    font-weight: 400;
    color: #5e5e5e;
}
.cooperation img {
    margin-bottom: 28px;
    width: 92px;
    height: 92px;
}
.cooperation .info {
    color: #585858;
    margin-bottom: 28px;
}
.cooperation .btns .btn {
    margin: 0 5px;
    border-radius: 4px;
    border: none;
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    width: 56px;
}
.cooperation .btns .btn-success {
    background-color: #419e27;
}
.cooperation .btns .btn-success:hover {
    background-color: #207109;
}
.cooperation .btns .btn-primary {
    background-color: #5ccbff;
}
.cooperation .btns .btn-primary:hover {
    background-color: #1b96cf;
}

.bg-grey {
    background-color: #f8f8f8;
}



.product li {
    margin: 0 30px;
    text-align: center;
}
.product h4 {
    height: 96px;
    line-height: 96px;
    font-size: 18px;
    font-weight: 400;
    color: #404040;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product .icon {
    display: block;
}
.product img {
    width: 72px;
    height: 72px;
}
.product .info {
    height: 42px;
    margin: 30px 0;
    color: #585858;
}
.product .btn-primary {
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    background-color: #5ccbff;
    border-radius:0;
    border: none;
}
.product .btn-primary:hover{
    background-color: #1b96cf;
}
.product .prev {
    display: block;
    position: absolute;
    top: 130px;
    left: 0;
    width: 24px;
    height: 40px;
    background: url(../images/icon-btn.png) 0 0 no-repeat;
}
.product .next{
    display: block;
    position: absolute;
    top: 130px;
    right: 0;
    width: 24px;
    height: 40px;
    background: url(../images/icon-btn.png) -25px 0 no-repeat;
}

.footer{
    padding: 28px 0 65px;
    background-color: #232c3a;
    color: #ddd;
}
.footer li{
    display: list-item;
    float: left;
}
.footer .help, .footer .partners {
    width: 140px;
}
.footer h4 a {
    text-decoration: none;
}
.footer h4 {
    font-size: 16px;
    padding-bottom: 25px;
    font-weight: bold;
}
.footer a {
    color: #ddd;
}
.footer .list a {
    display: block;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer .link {
    margin-right: 48px;
    width: 102px;
}
.footer .link .icon-list a {
    display: inline-block;
    margin: 0 5px 5px 0;
}
.footer .link .icon-list img {
    width: 24px;
    height: 24px;
}
.footer .tel {
    width: 300px;
    float:left;
}
.footer .notice {
    width: 270px;
    float: right;
}
.footer .notice .hd {
    margin-top: -5px;
    margin-bottom: 20px;
}
.footer .notice .hd a.active, .footer .notice .hd a:hover {
    color: #fff;
    background-color: #3b9f1f;
}
.footer .notice .hd a {
    display: inline-block;
    width: 90px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}
.footer .notice .bd a {
    display: inline-block;
    width: 182px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.footer .notice .bd span {
    float: right;
}
.in{
    display: none;
}

.copyright {
    padding-top: 35px;
    height: 140px;
    line-height: 25px;
    text-align: center;
    color: #96989b;
    background-color: #020b18;
}
.footer .notice .bd ul{
    overflow: hidden;
}

