.bg-white .explain{
    margin: 30px auto 0;
    width: 820px;
    line-height: 30px;
    color: #464646;
    font-size: 16px;
    text-indent: 2em;
}

.bg-grey .worth li{
    float: left;
    margin: 0 45px;
    width: 160px;
    text-align: center;
}
.bg-grey .worth li h4{
    color: #0f1020;
    font-size: 18px;
    line-height: 70px;
    font-weight: 400;
}
.bg-grey .worth li img{
    margin-top:40px;
}
.bg-grey .worth li .info{
    text-align: left;
}
.bg-grey .business{
    margin:50px 0;
}
.bg-grey .business .temp{
    float:left;
    width:33.33%;
}
.bg-grey .business .temp img{
    width: 69px;
    height: 69px;
    margin: 54px 20px 0 60px;
    float: left;
}
.bg-grey .business li div{
    float:left;
}
.bg-grey .business .temp h4{
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    background-color: #e4e4e4;
    color: #0f1020;
    font-weight: 600;
}
.bg-grey .business .temp h4:hover{
    text-decoration: underline;
}
.bg-grey .business .temp a{
    display: block;
    width: 157px;
    color: #0f1020;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bg-grey .business li .business_list{
    margin-top:10px;
}
.business_list li{
    padding-left: 25px;
    height: 22px;
    line-height: 22px;
    background: url(../images/dian.png) 7px center no-repeat;;
}
.bg-gray{
    background-color: #ededed;;
}
.bg-gray .cooperation{
    text-align: center;
    padding: 60px 0;
}
.bg-gray .cooperation .btn{
    width: 175px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    padding: 0 12px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: #419e27;

}